/*
MENU
 */
.menu__list {
  display: flex;
  gap: 104px;
  flex-wrap: wrap;
}

.menu__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  /* $pmsBlack7 */

  color: #333333;
}

.menu__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/*
БЛОК MAIN
 */
.main {
  padding-top: 0;
}

.main__text-main {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 66px;

  color: #2F281E;

  margin-bottom: 25px;
  margin-top: 0;
}
.main__left {
  max-width: 450px;
}

.main__text-submain {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  /* or 129% */


  color: #544837;

  margin-bottom: 61px;
}

.main__click {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

  background: #3A5AFF;
  border-radius: 4px;
  border: 0 #3A5AFF;

  min-width: 255px;
  min-height: 56px;
}

.main__list {
  gap: 67px;
  display: inline-flex;
  justify-content: space-between;
}

.main__message-1 {
  padding: 12px 16px;

  max-width: 385px;
  min-height: 86px;

  background: #EBEBEB;
  /* Stroke Bubble */

  border: 1px solid rgba(35, 35, 35, 0.02);
  /* Drop Shadow Bubbles */

  box-shadow: 0 2px 5px rgba(35, 35, 35, 0.05);
  border-radius: 8px 20px 20px 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -1px;

  color: #232323;
}

.main__up, .main__down {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.main__down {
  justify-content: space-between;
}

.main__message-2 {
  padding: 12px 16px;

  max-width: 377px;
  min-height: 86px;

  background: #CFD7F2;
  /* Stroke Bubble */

  border: 1px solid rgba(35, 35, 35, 0.02);
  /* Drop Shadow Bubbles */

  box-shadow: 0 2px 5px rgba(35, 35, 35, 0.05);
  border-radius: 20px 8px 20px 20px;

  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: -1px;

  color: #232323;
}

.main__img-student {
  max-width: 246px;
  max-height: 273px;
}

.main__img-abitur {
  max-width: 201px;
  max-height: 254px;
}

.main__click:hover {
  opacity: 0.7;
}

@media (max-width: 1040px) {
  .main__list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu__bar {
    justify-content: center;
    gap: 10px;
  }
}

@media (max-width: 690px) {
  .menu__bar {
    flex-direction: column;
    gap: 5px;
  }

  .menu__list {
    flex-direction: column;
    gap: 25px;
  }

  .main__text-main {
    font-size: 42px;
    line-height: 47px;
  }

  .main__text-submain {
    font-size: 20px;
    line-height: 30px;
  }

  .main__img-student {
    max-width: 158px;
    max-height: 175px;
  }

  .main__img-abitur {
    max-width: 130px;
    max-height: 165px;
  }

  .main__message-1 , .main__message-2 {
    font-size: 20px;
    line-height: 30px;
  }
}
