.footer {
  background: #3A5AFF;

}

.footer h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.footer p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;

  margin-bottom: 100px;
}

.footer p span {
  margin-bottom: 10px;
}

.footer__back-to-top {
  background: #3E64FF;
  border-radius: 50%;
  position: fixed;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
}

.footer__back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}

.footer__back-to-top svg {
  fill: #ffffff;
}
