.bot {
  background: #3A5AFF;
}

.bot__article {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #FFFFFF;

  margin-bottom: 55px;
}

.bot__block {
  display: flex;
  justify-content: space-between;
}

.bot__right {
  max-width: 507px;
}

.bot__right h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #FFFFFF;
}

.bot__right h3 span {
  margin-bottom: 20px;
}

.bot__right h3 span p {
  display: inline-block;
  font-weight: 800;
}

.bot__mes_block-1 {
  position: relative;
}

.bot__message-1 {
  position: relative;
  text-align: center;

  z-index: 5;
}

.bot__message-1 p {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 500;
  font-size: 26px;
  line-height: 31px;

  color: #2F281E;

  width: 100%;
}

.bot__women {
  position: absolute;
  top: 88px;
  left: 397px;
}

.bot__mes_block-2 {
  position: relative;
}

.bot__message-2 {
  position: relative;
  text-align: center;

  z-index: 5;

  left: 87px;
  top: 136px;
}

.bot__message-2 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  text-align: left;
  padding-left: 44px;

  color: #2F281E;

  width: 100%;
}

.bot__men {
  position: absolute;
  top: 14px;
  left: 22px;
}
